%btn {
    padding: 15px 25px;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    color: white;
    font-weight: 700;
    font-size: 14px;
}

%link-style {
    text-decoration: none;
    color: snow;
    padding: 10px 20px;
    display: inline-block;
}
