@import 'assets/styles/settings';
::-webkit-scrollbar{
    background-color: #333;
    width: 15px;
}
::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    width: 5px;
    height: 20px;
}
