@import '../../assets/styles/settings';

.about-body {
    position: relative;
    width: 100%;
    height: 100vh;

    .about {
        width: 100%;
        height: 100%;

        .bag {
            width: 70%;
            height: 100%;
            display: flex;
            background: url('../../assets/images/bag2.png') no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            align-items: center;
            .about-us {
                position: absolute;
                left: 1050px;
                z-index: 9;
                width: 500px;
                height: 450px;
                background-color: #EDEDED;
                border-radius: 10px;
                padding: 50px;

                #title {
                    color: $blue;
                    font-weight: 700;
                    font-size: 24px;
                }

                #subtitle {
                    font-weight: 800;
                    font-size: 14px;
                    color: #333333;


                }
            }
        }
    }
}
 
@media(max-width: $x-large-screen){
    .about-body{
        .about{
            .bag{
                .about-us{
                    left: 800px;
                }
            }
        }
    }
}
@media(max-width: $large-screen){
    .about-body{
        .about{
            .bag{
                .about-us{
                    left: 450px;
                }
            }
        }
    }
}