@import '../../assets/styles/settings';
.about-body{
    width: 100%;
    height: 100vh;
    .about{
        width: 100%;
        height: 100%;
        .bag{
            width: 70%;
            height: 100%;
        }
        .about-us{
            position: absolute;
            z-index: 9;
            top: 340px;
            right: 200px;
            width: 500px;
            height: 450px;
            background-color:  #EDEDED;
            border-radius: 10px;
            padding: 50px;
            #title{
                color: $blue;
                font-weight: 700;
                font-size: 24px;
            }
            #subtitle{
                font-weight: 800;
                font-size: 14px;
                color:#333333;
                
            }
        }
    }
}
